---
layout: full-width
title: ICF Nex+ Home
subtitle: Home
---

<h3>Patterns</h3>
{% for page in site.pages %}
    {% if page.categories contains "patterns" %}
        <p><a href="{{ page.url }}" style="color:{{ site.data.colors[6].value }}">{{ page.title }}</a></p>
    {% endif %}
{% endfor %}

<h3 class="site-preview-heading">Default card</h3>
<ul class="usa-card-group">
  <li class="usa-card tablet:grid-col-4">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h2 class="usa-card__heading">Card</h2>
      </div>
      <div class="usa-card__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum
          tenetur quo cupiditate, eaque qui officia recusandae.
        </p>
      </div>
      <div class="usa-card__footer">
        <button class="usa-button">Visit Florida Keys</button>
      </div>
    </div>
  </li>
</ul>