.header-container{
    display: flex;
    background-color: $header-footer-background-color;
    padding: 15px;
    position: fixed;
    min-height: 80px;
    width: 100%;
    z-index: 2;
    top: 0;
}
.logo-title{
    display: flex;
    img{
        height: 38px;
        margin-top: 47px; 
    } 
}
.title{
    margin-top: 42px;
    &:hover{
        cursor: pointer;
        color: $inkcolor;
    }
    @media (max-width: $grid-md-max){  //USWDS tablet large breakpoint (880px)
        margin-top: 48px; 
    }
    a{
        text-decoration: none;
        color: $inkcolor;
        font-size: 28px;
        @media (max-width: $grid-md-max){  //USWDS tablet large breakpoint (880px)
            font-size: 25px; 
        }
    }  
}
