.nav-items{
    z-index: 10;
     @media(min-width: $grid-md-max){
         display: flex;
         position: fixed;
         top: 40;
         right: 40;
         .nav-item{
             margin: 10px;
             padding: 20px 0 20px 10px;
         }   
     }
     //mobile
     @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
         margin-top: 10px;
         display: none;
         position: fixed;
         right: 0;
         top: 105;
         background: $header-footer-background-color;
         max-height: 500px;
         width: 100%;
         overflow-y: scroll;
         .nav-item{
             padding: 0px;
             margin: 0;
         } 
     }
 }
 //wrapper displayed below z-index value of the mobile menu
 .wrapper{
     position: fixed;
     top: 100;
     right: 0;
     background-color: $overlay-background-color;
     width: 100%;
     height: 100%;
     z-index: 1;
 }
 //current page in the nav is highlighted in gray
 .current{
     color: $gray-50;
     text-decoration: underline;
     &:hover{
         color:$gray-50;
     }
 }
 
 //icons only displayed in mobile view
 .expand-mobile-nav, .collapse-mobile-nav{
     display: none;
     @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
         display: inline;
         width: 20px;
         height: 20px;
         position: absolute;
         right: 20;
     }
 }
 // sub nav items only displayed in mobile view
 .nav-second-level-container{
     ul{
        max-width: 100%;
     }
     @media(min-width: $grid-md-max){
         display: none;
     }
      //mobile
      @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
         ul{
             margin: 0;
             padding: 0;  
         }
         li{
             border-top: 1px solid $gray-80;
             padding: 20px 0 20px 40px;
             &:hover{
                 cursor: pointer;
                 background-color: $gray-80;
             }   
         }
         .display{
             display: block;
         }
      }
 }
 .mobile-menu-label{
     display: none;
      //mobile
      @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
         display: block;
         width: 60px;
         height: 60px;
         position: fixed;
         top: 45;
         right: 5;
         svg{
             width: 40px;
             height: 40px;
             position: relative;
             left: 12;
         }
         p{
             position: relative;
             left: 10;
             top: 0;
         }
         &:hover{
             cursor: pointer;
         }
     }
 }
 .exit-mobile-menu-label{
     width: 60px;
     height: 60px;
     position: fixed;
     top: 45;
     right: 5;
     svg{
         width: 40px;
         height: 40px;
         position: relative;
         left: 15;
         top: -35;
     }
     p{
         position: relative;
         left:15;
         top: 38;
     }
     &:hover{
         cursor: pointer;
     }
 }
 
 //when mobile menu is opened, slide left
 @keyframes slide-left{
     from {
         transform: translateX(100%);
       }
     to {
         transform: translateX(0%);
     }
 }
 
  //prevent scroll when mobile menu is open
  body.scroll{
     overflow: hidden;
 }
 // style top level nav pages in mobile view
 .nav-top-level-page{
     //mobile
     @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
         text-align: left;
         width: 100%;
         padding: 20px 0 20px 10px;
         border-top: 1px solid $gray-80;
         &:hover{
             background-color: $gray-80;
             cursor: pointer;
         }
         &:last-child{
             border-bottom: 1px solid $gray-80;
         }
     }    
 }
 
 //mobile menu animation
 @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
     .slide-left{
         animation: slide-left 500ms;
     }
 }
 .display{
    display: block;
}
 .hidden{
    display: none;
}