.design-files{
    display: flex; 
    //mobile
    @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
        flex-direction: column;  
    }
}
.noscroll{
    overflow: hidden;  
}

.template-img{
    max-width: 25%;
    max-height: 400px;
    overflow: hidden; 
    padding: 10px;
    &:hover{
        cursor: pointer;
    }
    //mobile
    @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
        max-width: 80%;
        max-height: 100%;
        overflow: visible;
        margin: 0 auto;
    }
}
.expanded-img-container{
    display: none;
    &.overlay{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        background-color: $overlay-background-color;
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow-y: scroll;
        .expanded-img{
            display: block;
            margin: 50px 40px 0px 40px;
            width: 90%;
            height: auto;  
            //mobile
            @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
                margin: 50px 20px 0px 20px;
            }
        }  
        .collapse-expanded-img{
            position: absolute;
            top: 10;
            right: 10;
            width: 40px;
            height: 40px;
            z-index: 3;
            fill: white;
            &:hover{
                cursor: pointer;
            }
        }  
    }
}


