.default-btn-container{
    text-align: center;  
}

.reset{
    display: inline-block;
    position: relative;
    top: 10;
    left: 5;
    width : 30px;
    height : 30px; 
    &:hover{
        cursor: pointer;
    }
}
.check{
    width : 40px;
    height : 40px;
    border-radius: 30px;
}
.hidden{
    display: none;
}

.color-container{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img{
        &:hover{
            cursor: pointer;
        }
    }
}
.option{
    margin: 10px;
    input{
        display: none;
    }
}
