.dark-mode{
    background-color: $dark-mode-background-color;
    color: white;
    .usa-card__container, .usa-accordion__content{
        background-color: $dark-mode-background-color;
        color: white;
    }
    #mode-items{
        background-color: $dark-mode-background-color;
        @media (max-width: $grid-md-max){
            color: white;
        }
    }
    a{
        color: white;
    }
    .title:hover{
        color: white;

    }
    .left-rail-item, .left-rail-title{
        border-color: $gray-80;
    }
    .header-container, .footer-container{
        background-color: $header-footer-dark-mode-background-color;
        .current{
            color: $gray-80;
        }
    }
    .menu-icon, .exit-button, .expand-mobile-nav, .collapse-mobile-nav, #light, .icons{
        fill: white;
    }
    .color div{
        border: 1px solid $papercolor;
    }
    .left-rail-item:hover{
        color: black;
        text-decoration: underline;
        background-color: $gray-80;
    }
    //mobile
    @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
        .nav-items{
            background-color: $dark-mode-background-color;
            color: white;
            border-color: $gray-80;
        }
        .nav-top-level-page:hover{
            a{
                color: black;
                text-decoration: underline;
            }
            .expand-mobile-nav, .collapse-mobile-nav{
                fill: black;
            }
        }
        .nav-second-level-container li:hover{
            color: black;
            text-decoration: underline;
        }
    }
    #dark, #light, #star, #light-mode-dropdown-item, #dark-mode-dropdown-item, #custom-mode-dropdown-item{
            fill: white;
        svg{
            fill: white;
        }
         }
        
    
}
