#mode-items{
    position: fixed;
    top: 100;
    right: 20;
    background-color: #efefef; 
    @media (max-width: $grid-md-max){
        top: 50;
        right: 90;
        background: none;
    }
}
.dropdown{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 5px;
    @media (max-width: $grid-md-max){
        flex-direction: row;
        border-radius:  0;
        padding: 0;
    }
}
#dark, #light, #custom{
    width: 20px;
    height: 20px;
    position: fixed;
    top: 70;
    right: 10;
    &:hover{
        cursor: pointer;
    }
    @media (max-width: $grid-md-max){
        top: 60;
        right: 70;
    }
}
#light-mode-dropdown-item, #dark-mode-dropdown-item, #custom-mode-dropdown-item{
    margin: 10;
    svg{
        width: 20px;
        height: 20px;
    }
    &:hover{
        cursor: pointer;
    }
    & .mode-text{
        @media (max-width: $grid-md-min){
            display: none

        }

    } 
}
div.language-css.highlighter-rouge{
    background-color: transparent;
}