.footer-container{
    display: flex;
    justify-content: space-around;
    background-color: $header-footer-background-color;
    padding: 25px 0 10px;
    margin-top: 20px;
    //mobile
    @media(max-width: 880px){ //USWDS tablet large breakpoint (880px)
        flex-direction: column;
        text-align: left;
        padding-left: 15px;
    }
}
.logo-footer{
    width: 150px;
    height: 48px;
    margin-top: 15px; 
}
.logo-copyright{
    display: flex;
    flex-direction: column;
    margin: 20px;
    img{
        margin: 0 auto;
    }
    //mobile
@media(max-width: 880px){ //USWDS tablet large breakpoint (880px)
    margin: 10px 0 0 0;
        img{
            margin: 0;
        }
    }
}