$papercolor: {{ site.data.colors[0].value}};
$inkcolor: {{ site.data.colors[1].value }};
$inversecolor: {{ site.data.colors[2].value }};
$primarycolor: {{ site.data.colors[3].value }};
$secondarycolor: {{ site.data.colors[4].value }};
$accentcolor: {{ site.data.colors[5].value }};
$linkcolor: {{ site.data.colors[6].value }};
$grays: {{ site.data.colors[1].value }};

$overlay-background-color: rgba(0,0,0,0.8);
$header-footer-background-color: #f9f9f9;
$dark-mode-background-color: #202124;
$header-footer-dark-mode-background-color: #202120;
// $papercolor: {{ site.data.colors.paper }};
// $inkcolor: {{ site.data.colors.ink }};
// $inversecolor: {{ site.data.colors.inverse }};
// $primarycolor: {{ site.data.colors.primary }};
// $secondarycolor: {{ site.data.colors.secondary }};
// $accentcolor: {{ site.data.colors.accent }};
// $linkcolor: {{ site.data.colors.link }};
// $grays: {{ site.data.colors.grays }};
// $header-footer-background-color: {{site.data.colors.header-footer-color}}; 
// $overlay-background-color: {{site.data.colors.overlay-background-color}};

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

// setting up grayscale
$gray-90: tint($grays, 90);
$gray-80: tint($grays, 80);
$gray-70: tint($grays, 70);
$gray-60: tint($grays, 60);
$gray-50: tint($grays, 50);
$gray-40: tint($grays, 40);
$gray-30: tint($grays, 30);
$gray-20: tint($grays, 20);
$gray-10: tint($grays, 10);
$gray-5: tint($grays, 5);

