$grid-sm-min: 320px;
$grid-sm-max: 480px;
$grid-md-min: 640px;
$grid-md-max: 880px;
$grid-lg-min: 1024px;
$grid-lg-max: 1200px;
$grid-xl-max: 1400px;

.container {
    max-width: 98%;
    margin: auto;
    @media screen and (min-width: $grid-xl-max) {
        max-width: 75%;
    }
}
.code-examples, .design-preview{
    .usa-accordion{
        width: 70%;
        //mobile
     @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px) 
        width: 100%;
     }
    }
}
.content{
    margin: 20px;
    margin-top: 160px;  
}
.prototype-content{
    margin: 20px;
}
.margin-20{
    margin: 20px 0;
}
.content-flex{
    display: flex;  
}
.content-flex-toc{
    display: flex; 
    @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px) 
        flex-direction: column-reverse;
     } 
}
.flex-reverse{
    display: flex;
    flex-direction: column-reverse;
}
.design-content-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text{
    width: 90%;
    padding: 20px; 
}
.full-text{
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    div{
        margin: 10px;
    }
     //mobile
     @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
        flex-direction: column;
        div{
            margin: 0px;
        }
     }
}
.variations-wrapper {
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    @media (min-width: $grid-md-max){
        display: flex;
    }

}


.variations-preview {
    @media (min-width: 64em){
        .desktop\:grid-col-6 {
            flex: 0 1 auto;
            width: 100%;
        }
    }
}

.variations-content {
    @media (min-width: $grid-md-max){
        width: 30%;
        padding-right: 1rem;
    }
}
