$grid-sm-min: 320px;
$grid-sm-max: 480px;
$grid-md-min: 640px;
$grid-md-max: 880px;
$grid-lg-min: 1024px;
$grid-lg-max: 1200px;
$grid-xl-max: 1400px;

.container {
    max-width: 98%;
    margin: auto;
    @media screen and (min-width: $grid-xl-max) {
        max-width: 75%;
    }
}
.content{
    margin: 20px;
    margin-top: 160px;  
}
.prototype-content{
    margin: 20px;
}
.margin-20{
    margin: 20px 0;
}
.content-flex{
    display: flex;  
}
.text{
    width: 90%;
    padding: 20px;
}
.full-text{
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    div{
        margin: 10px;
    }
     //mobile
     @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
        flex-direction: column;
        div{
            margin: 0px;
        }
     }
}
