<link>
    <title>
        {% if page.url == "/" %}
            {{ page.subtitle }}:
        {% elsif page.title %}
            {{ page.title }}:
        {% endif %}
        {% if site.data.config.sitetitle %}
            {{ site.data.config.sitetitle }}
        {% endif %} 
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{site.baseurl}}/assets/uswds/js/uswds-init.min.js" async></script>
    <link rel="stylesheet" type ="text/css" href="{{site.baseurl}}/assets/css/styles.css"></link>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/library.css"></link>
     <!-- Include the identity widget -->
     <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js" type="text/javascript"></script>
    <link rel="icon" href="/assets/icons/sample-favicon.jpeg"></link>
</head>