<div class="left-rail">
    {% if page.type contains "detail-page" %}
        <h4 class="left-rail-title"><a href="/{{page.categories[0]}}/{{page.categories[1]}}/">{{page.categories[1] | replace: "-", " "}}</a></h4>
        {% for item in site.pages | sort: "title" %}
            {% if page.categories[1] == item.categories[1] and item.type contains "detail-page" %}
                {% include partials/current.html %}
            {% endif %}
        {% endfor %}
    {% else %}
        <h4 class="left-rail-title"><a href="/{{page.categories[0]}}/">{{page.categories[0] | replace: "-", " "}}</a></h4>
        {% for item in site.pages | sort: "title" %}
            {% if page.categories[0] == item.categories[0] and item.type contains "sub-nav-item" %}
                {% include partials/current.html %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<!-- <div class="left-rail">
    <h3 class="left-rail-title"><a href="/{{page.categories[0]}}/">{{page.categories[0]}}</a></h3>
    {% for item in site.pages | sort: "title" %}
        {% if page.categories[0] == item.categories[0] %}
            {% if item.type contains "sub-nav-item"  %}
                {% if item.url == page.url %}
                <a href="{{item.url}}"> <div class="current left-rail-item">
                        {{item.title}}
                    </div></a>
                {% else %}
                <a href="{{item.url}}"><div  class="left-rail-item">
                       {{item.title}}
                    </div></a>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div> -->