backend:
  name: github
  repo: ux-at-icfnext/next
  # netlify.configure({'site_id': 'https://nextlibrary.netlify.app/'});
  # optional, defaults to master
  branch: main

media_folder: "_site/assets/icons"
public_folder: "/assets/icons"
collections:
  - name: "blog"
    label: "Blog Post"
    folder: "_posts"
    slug: '{{year}}-{{month}}-{{day}}-{{title}}'
    create: true
    fields:
      # - { label: "Layout", name: "layout", widget: "hidden", default: "full-width" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" } 
      - { label: "Overview", name: "overview", widget: "string" }
      - { label: "Test", name: "test", widget: "string" }
      - { label: "Permalink", name: "permalink", widget: "string"}
      - { label: "Body", name: "body", widget: "markdown" }
  - name: patterns
    label: Pattern Page
    folder: _pages/patterns/
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: "Permalink", name: "permalink", widget: "string"}



