{% include patterns/collection/collection.scss %}
{% include patterns/collection/collection-calendar-display.scss %}
{% include patterns/collection/collection-heading-only.scss %}
{% include patterns/collection/collection-media-thumbnail.scss %}
