.card-container{
    display: flex;
    flex-wrap: wrap;
    .usa-card{
        z-index: 0;
        @media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
            margin: 0 0 30px 0;
            padding: 0px;
            width: 100%;
            height: auto;
        }
    }
}