---
---
<html>
    {% include partials/head.html %}
    <body>
        {% if page.type contains "prototype" %}
            {% include patterns/header/header-basic.md %}
        {% else %}
            <div class="header-container">
                {% include partials/lib/header.html %}
            </div> 
        {% endif %}
        <div id="wrapper-container" class="">&nbsp;</div>
        {% if page.type contains "prototype" %}
            <div class="prototype-content">
                {{ content }}
            </div>
        {% else %}
            <div class="content">
                {{ content }}
            </div>
        {% endif %}
        {% if page.type contains "prototype" %}
            {% include patterns/footer/footer-medium.md %}
        {% else %}
            {% include partials/lib/footer.html %}
        {% endif %}
        <script src="https://kit.fontawesome.com/7f6845086e.js" crossorigin="anonymous"></script>
        <script src="{{site.baseurl}}/assets/uswds/js/uswds.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/copy_to_clipboard.js"></script>
        <script src="{{site.baseurl}}/assets/js/nav_mobile.js"></script>
        <script src="{{site.baseurl}}/assets/js/template_img.js"></script>
        <script src="{{site.baseurl}}/assets/js/theme_mode.js"></script>
        <script src="{{site.baseurl}}/assets/js/cms.js"></script>

    </body>
</html>