---
layout: full-width
---
<div class="card-container">
    {% if site.pages %} 
        {% assign sortedCards = site.pages | sort: "title" %}
        {% for item in sortedCards %}
            {% if page.categories[0] == "templates" or page.categories[0] == "prototype"  %}
                {% if page.categories[0] == item.categories[0] and page.url != item.url and item.type contains "sub-nav-item" %}
                    {% include partials/card.html %}
                {% endif %}
            {% else %}
                {% if page.categories[1] == item.categories[1] and item.type contains "detail-page" %}
                    {% include partials/card.html %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<!-- <div class="card-container">
    {% if site.pages %} 
        {% assign sortedCards = site.pages | sort: "title" %}
        {% for item in sortedCards %}
            {% if page.categories[1] == item.categories[1] %}
                {% if item.type contains "detail-page" %}
                    <div class="card">
                        <h4>{{item.title}}</h4>
                        <p>{{item.description}}</p>
                        <p>
                            <a href="{{item.url}}">
                                <button class="read-more">Read More</button>
                            </a>
                        </p>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div> -->