---
layout: default
---
{% if page.type contains "detail-page" %}
    {% include partials/lib/breadcrumbs.html %}
{% endif %}
<div class="content-flex">
    {% include partials/left-nav.html %}
    <div class="text">
        <h1>{{page.title}}</h1>
        {{ content }}
    </div>
    {% if page.categories contains "about" and page.type contains "sub-nav-item" %}
    <div class="left-rail">
        <h4 class="left-rai-title">Table of Contents</h4>
        <div class="page-nav">
            {:toc}
        </div>
    </div>
    {% endif %}
</div>

