---
layout: left-rail
---
{% if page.usa-link %}
    <p class="intro">The following component is based on the from the USWDS. The information below shows how the component was customized to match our site brand. Please review the <a href="{{ page.usa-link}}">USWDS: {{ page.title }}</a> for more information on how to use this component.</p>
{% endif %}
<h4>Contents:</h4>
<ul>
    {% if page.htmlpath or page.designimg %}
        <li><a href="#design">Design</a></li>
    {% endif %}
    {% if page.description %}
        <li><a href="#desc">Description</a></li>
    {% endif %}
    {% if page.specification or page.schema %}
        <li><a href="#specs">Specifications</a></li>
    {% endif %}
    {% if page.htmlpath or page.csspath %}
        <li><a href="#code">Code Examples</a></li>
    {% endif %}
</ul>


{% if page.htmlpath %}
    <a name="design"></a>
    <div class="design-preview">
        {% include {{ page.htmlpath | liquify }} %}
    </div>
{% elsif  page.designimg %}
    <a name="design"></a>
    <div class="design-preview">
        <img src="{{ page.designimg }}" class="img">
    </div>
{% endif %}

{% if page.description %}
    <a name="desc"></a>
    <h3>Description</h3>
    {{ page.description | markdownify }}
{% endif %}

{% if page.specification or page.schema %}
    <a name="specs"></a>
    <h3>Specifications</h3>
    {% if page.specification %}
        {{ page.specification | markdownify}}
    {% endif %}
{% endif %}

{% if page.spec %}
    <table class="usa-table usa-table--stacked-header">
        <thead>
            <tr>
                <th>field name</th>
                <th>field type</th>
                <th>class name</th>
                <th>required</th>
                <th>content rules</th>
                <th>example content</th>
                <th>notes</th>
            </tr>
        </thead>
        {% for spec in page.spec %}
            <tr>
                <td>{{ spec.name }} </td>
                <td>{{ spec.type }}</td>
                <td>{{ spec.class }}</td>
                <td>{{ spec.required }}</td>
                <td>{{ spec.content }}</td>
                <td>{{ spec.example }}</td>
                <td>{{ spec.notes }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<div class="page-content">{{ page.content }}</div>

{% if page.htmlpath or page.csspath %}
    <a name="code"></a>
    <h3>Code Examples</h3>
    <div class="usa-accordion">
        <h4 class="usa-accordion__heading">
          <button
            class="usa-accordion__button"
            aria-expanded="false"
            aria-controls="a1"
          >
            HTML
          </button>
        </h4>
        <div id="a1" class="usa-accordion__content usa-prose">
          <p>
            {% highlight html %} 
                {% include {{ page.htmlpath | liquify }} %}
            {% endhighlight %}
          </p>
        </div>
    </div> 
{% endif %}
      
{% if page.csspath %}
<div class="usa-accordion">
    <h4 class="usa-accordion__heading">
      <button
        class="usa-accordion__button"
        aria-expanded="false"
        aria-controls="a1"
      >
        CSS
      </button>
    </h4>
    <div id="a2" class="usa-accordion__content usa-prose">
      <p>
        {% highlight css %} 
            {% include {{ page.csspath | liquify }} %}
        {% endhighlight %}
      </p>
    </div>
</div>   
{% endif %}


<!-- {% if page.parent %}
   <p class="margin-20"> <a href="/{{page.parent}}"> <i class="fas fa-arrow-left"></i> Return to pattern parent</a></p>
{% endif %} -->

{% if page.type contains "sub-nav-item" %}
<h4>Design Variations</h4>
    <div class="card-container">
        {% if site.pages %} 
        {% assign sortedCards = site.pages | sort: "title" %}
            {% for item in sortedCards %}
                {% if page.categories[1] == item.categories[1] and item.type contains "detail-page" %}
                    {% include partials/card.html %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>    
{% endif %}

{% if page.type contains "detail-page" %}
   <p class="margin-20"> <a href="/patterns/{{page.categories[1]}}"> <i class="fas fa-arrow-left"></i> Return to pattern parent</a></p>
{% endif %}