---
layout: left-rail
---
<h3>Description</h3>
<p>{{page.description}}</p>

{% if page.design-file %}
<div class="design-files">
    {% for design in page.design-file %}
        <img src="{{ design.file}}" class="template-img" alt="design.alt">
    {% endfor %}
</div>
<div class="expanded-img-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="collapse-expanded-img" alt="exit button icon"><path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/></svg>
    <img src="#" class="expanded-img" alt="" />
</div>
<p>Click to view designs</p>
{% endif %}

<h3>Details</h3>
<p>{{page.details}}</p>
{% if page.prototype-links  %}
<h4>View Prototype</h4>
    {% for proto in page.prototype %}
        <p><a href="{{ proto.link }}">{{ proto.name }}</a></p>
    {% endfor %}
{% endif %}

{% if page.specs %}
<h2>Content Specifications</h2>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Authored?</td>
            <td>Content</td>
            <td>Searchable?</td>
            <td>Source</td>
            <td>Notes</td>
        </tr>
    </thead>
    {% for spec in page.specs %}
    <tbody>
        <tr>
            <td>{{ spec.name }} </td>
            <td>{{ spec.type }}</td>
            <td>{{ spec.authored }}</td>
            <td>{{ spec.content }}</td>
            <td>{{ spec.searchable }}</td>
            <td>{{ spec.source }}</td>
            <td>{{ spec.notes }}</td>
        </tr>
    </tbody>
{% endfor %}
</table>
{% endif %}


{{content | markdownify}}
{% if page.type contains "sub-nav-item" %}
    <div class="card-container">
        {% if site.pages %} 
        {% assign sortedCards = site.pages | sort: "title" %}
            {% for item in sortedCards %}
                {% if page.categories[1] == item.categories[1] and item.type contains "detail-page" %}
                    {% include partials/card.html %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>    
{% endif %}