.left-rail{
    min-width: 25%;
    margin-top: 50px;
}
.left-rail-title{
    margin-top:0;
    margin-bottom: 0;
    border-bottom: 1px solid $inkcolor;
    text-transform: capitalize;
    color: $inkcolor;
}
.left-rail-item{
    border-bottom: 1px solid $inkcolor;
    width: 100%;
    padding: 10px;
    &:hover{
        background-color: $gray-80;
    }
}
.third-level{
    padding-left: 15px;
}
//mobile
@media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
    .left-rail{
       display: none;
    }
    .text{
        width: 100%;
        padding: 0px;
    }
}
